*{
    margin: 0;
    padding: 0;
    /* outline: 1px dotted red; */
    border: none;
    box-sizing: border-box;
}

body{

    
    
}
.App{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsla(150, 100%, 90%, 0.772);
}


.AddDataSpace{
    position: absolute;
    display: flex;
    height: min-content;
}
.AddDataSpace.Searched:hover{
    opacity: 1;
}
.AddDataSpace.Searched{
    top:0;
    opacity: 50%;
    
    
    
}

#AddDataText{
    height: 5rem;
    font-size: 3rem;
    border-radius: 5rem 0 0 5rem;
    padding-left: 1ch;
    

}
#SubmitDataText{
    font-size: 3rem;
    border-radius: 0 50% 50% 0;
    overflow: hidden;
    height: 5rem;
    width: 5rem;
    cursor: pointer;

}
#SubmitDataText:hover{
    background-color: blue;
}



.ShowDataSpace{
    display: none;
    background-color: bisque;
    width: 25rem;
    height: 30rem;
    overflow: hidden;
    border-radius: 10%;
    padding: 2rem;
    font-size: 2rem;
    line-height: 3em;


    

}
.ShowDataSpace.Searched{
    display: block;

    

}
.CityName{
    text-align: center;
    color: #003366;
    font-weight:900;
    font-size: 5rem;

}

.temp{
    color: crimson;
    text-align: center;

}

.feelslike{
    text-align: end;
    font-size: 1.25rem;
    color: cadetblue;
    
}
span{
    font-size: 3rem;
    text-align: center;
    color: rgb(48, 184, 104);
}
.wind{

}

